<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<!-- Add the list of python diagnostics scripts here -->
		<!-- Example: value="PyDiagScript1.py, PyDiagScript2.py" -->
		<add key="PyDiagnosticsScripts" 
				 value="
				 NonExistingDiagnosticsScript.py, 
				 NonExistingDiagnosticsScript2.py,
				 PySipebiDiagExample.py
				 "/>
		<!-- Add the list of python validation scripts here -->
		<add key="PyValidationScripts" 
				 value="
				 NonExistingValidationScript.py, 
				 NonExistingValidationScript2.py,
				 "/>
		<add key="PyDiagnosticsExampleScript" value="PySipebiDiagExample.py"/>
		<add key="PyValidationExampleScript" value="PySipebiDiagExample_Val.py"/>
	</appSettings>
</configuration>