<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<!-- Add the list of python diagnostics scripts here -->
		<!-- Example: value="PyDiagScript1.py, PyDiagScript2.py-PyClassName" -->
		<!-- Existing Working Example: PySampleClass.py-->
		<add key="PyDiagnosticsScripts" value="NonExistingDiagnosticsScript.py, NonExistingDiagnosticsScript2.py"/>
		<!-- Add the list of python validation scripts here -->
		<!-- Existing Working Example: PySipebiMiniExample_Val.py-->
		<add key="PyDiagnosticsScripts" value="NonExistingValidationScript.py, NonExistingValidationScript2.py"/>
	</appSettings>
</configuration>